In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Data from 
# https://archive.ics.uci.edu/dataset/222/bank+marketing
df = pd.read_csv('bank+marketing/bank/bank.csv', delimiter=';')

In [4]:
df.value_counts()

age  job          marital  education  default  balance  housing  loan  contact   day  month  duration  campaign  pdays  previous  poutcome  y
19   student      single   primary    no        103     no       no    cellular  10   jul    104       2         -1     0         unknown   yes    1
45   services     single   secondary  no        1757    yes      no    cellular  20   apr    1010      3          326   1         other     no     1
     technician   married  secondary  no        88      no       no    cellular  29   aug    150       2         -1     0         unknown   no     1
                                                49      no       no    cellular  29   jul    65        2         -1     0         unknown   no     1
                                               -149     yes      no    cellular  14   jul    287       2         -1     0         unknown   no     1
                                                                                                                                                  ..
35   blue-collar  married  secondary  no        305     yes      no    cellular  18   may    7         7          367   25        failure   no     1
                                                407     yes      no    cellular  20   apr    12        6         -1     0         unknown   no     1
                                                444     yes      no    cellular  15   apr    244       3         -1     0         unknown   no     1
                                                603     yes      no    cellular  17   apr    474       2         -1     0         unknown   no     1
87   retired      married  primary    no        230     no       no    cellular  30   oct    144       1         -1     0         unknown   yes    1
Length: 4521, dtype: int64

In [5]:
# What is the proportion of clases for the target variable?

total_target  = len(df['y'])
frac_yes = len(df[df['y'] == 'yes'])
frac_no  = len(df[df['y'] == 'no'])

print('yes fraction: ',frac_yes/total_target)
print('no fraction:  ',frac_no/total_target)

yes fraction:  0.11523999115239991
no fraction:   0.8847600088476001

In [6]:
# How many numerical variables are?

df.info()

print(' ')
print('There are 7 numerical clases: age, balance, day, duration, campaing, pdays, previous')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

There are 7 numerical clases: age, balance, day, duration, campaing, pdays, previous

In [7]:
# what is the median and the standard deviation of the numerical variables?
median = df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].median()
std    = df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].std()

print('median of the numerical variables:', median)
print('std of the numerical variables:', std)

median of the numerical variables: age          39.0
balance     444.0
day          16.0
duration    185.0
campaign      2.0
pdays        -1.0
previous      0.0
dtype: float64
std of the numerical variables: age           10.576211
balance     3009.638142
day            8.247667
duration     259.856633
campaign       3.109807
pdays        100.121124
previous       1.693562
dtype: float64

In [8]:
# min and max of numerical variables
min_values = df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].min()
max_values    = df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].max()

print('min of the numerical variables:', min_values)
print('max of the numerical variables:', max_values)

min of the numerical variables: age           19
balance    -3313
day            1
duration       4
campaign       1
pdays         -1
previous       0
dtype: int64
max of the numerical variables: age            87
balance     71188
day            31
duration     3025
campaign       50
pdays         871
previous       25
dtype: int64

In [9]:
# how many categorical variables are?

df.info()

print(' ')
print('There are 10 numerical clases: job, marital, education, default, housing, loan, contact, month, poutcom,y')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

There are 10 numerical clases: job, marital, education, default, housing, loan, contact, month, poutcom,y

In [14]:
# how many unique values has each categorical variable?

df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome','y']].nunique()

job          12
marital       3
education     4
default       2
housing       2
loan          2
contact       3
month        12
poutcome      4
y             2
dtype: int64

In [15]:
# Taking into account all the variables which ones have the largest correlation?

df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.083820 -0.017853 -0.002367 -0.005148 -0.008894 -0.003511
balance   0.083820  1.000000 -0.008677 -0.015950 -0.009976  0.009437  0.026196
day      -0.017853 -0.008677  1.000000 -0.024629  0.160706 -0.094352 -0.059114
duration -0.002367 -0.015950 -0.024629  1.000000 -0.068382  0.010380  0.018080
campaign -0.005148 -0.009976  0.160706 -0.068382  1.000000 -0.093137 -0.067833
pdays    -0.008894  0.009437 -0.094352  0.010380 -0.093137  1.000000  0.577562
previous -0.003511  0.026196 -0.059114  0.018080 -0.067833  0.577562  1.000000

In [17]:
df['y_cat'] = df['y']
df['y_cat'].replace(['yes', 'no'], [1,0], inplace=True)

In [21]:
df[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous', 'y_cat']].corr()

,age,balance,day,duration,campaign,pdays,previous,y_cat
age,1.000000,0.083820,-0.017853,-0.002367,-0.005148,-0.008894,-0.003511,0.045092
balance,0.083820,1.000000,-0.008677,-0.015950,-0.009976,0.009437,0.026196,0.017905
day,-0.017853,-0.008677,1.000000,-0.024629,0.160706,-0.094352,-0.059114,-0.011244
duration,-0.002367,-0.015950,-0.024629,1.000000,-0.068382,0.010380,0.018080,0.401118
campaign,-0.005148,-0.009976,0.160706,-0.068382,1.000000,-0.093137,-0.067833,-0.061147
pdays,-0.008894,0.009437,-0.094352,0.010380,-0.093137,1.000000,0.577562,0.104087
previous,-0.003511,0.026196,-0.059114,0.018080,-0.067833,0.577562,1.000000,0.116714
y_cat,0.045092,0.017905,-0.011244,0.401118,-0.061147,0.104087,0.116714,1.000000